html {
    background: white;
    width: 100%;
	height: 100%;
}

.name {
    width: 4rem;
    color: rgba(255, 255, 255, 0.1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font: 9.6rem/7.5rem "indivisible";
    font-weight: 900;
    font-style: normal;
	letter-spacing: -4px;
    position: relative;
    z-index: 2;
}

.name:hover {
    color: mediumpurple;
}

/* name title EKATERINA ABRAMOVICH alignment settings */
.header .text-container {
    width: 100rem;
    height: 40rem;
    margin-top: 24rem;
    margin-bottom: 0rem;
    position: relative;
    text-align: left;
}

/* VIEW PORTFOLIO button */
.btn-view-portfolio {
	display: inline-block;
	padding: 1.8rem 2.125rem 1.8rem 2.125rem;
    margin-top: 3rem;
	border: 0.125rem solid white;
	border-radius: 2rem;
	background-color: transparent;
	color: #fff;
    font: 1rem/0rem "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-view-portfolio:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

/* bordered button in the header RESUME */
.btn-outline {
	display: inline-block;
	padding: 0.875rem 1.5rem 0.875rem 1.5rem;
	border: 0.125rem solid white;
	border-radius: 2rem;
	background-color: transparent;
	color: white;
    font: 0.875rem/0 "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
	transition: all 0.2s;
}

.btn-outline:hover {
	background-color: white;
    border: 0.125rem solid white;
	color: black;
	text-decoration: none;
}

/**************************/
/*       header menu      */
/**************************/
.navbar-custom {
    z-index: 999;
	background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    font: 0.875rem/0 "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.2s;
    position: absolute;
    width: 100%;
}

.navbar-custom .container {
	max-width: 100%;
}

.navbar-custom .navbar-brand.logo-image img {
    fill: aqua;
    width: 100px;
	height: auto;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

/* sections + dropdown menu humburger */
.navbar-custom .nav-item .nav-link {
	padding: 1.125rem 1.5rem 1.125rem 0rem;
    text-align: center;
    width: auto;
    color: #f7f5f5;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover {
  	color: #7565EE;
}

,
.navbar-custom .nav-item .nav-link:active {
	color: white;
}

.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #7864F6;
}

.navbar-custom .dropdown-item {
	color: #f7f5f5;
	opacity: 0.8;
    font: 0.875rem/0 "indivisible", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #7864F6;
	color: #fff;
	opacity: 1;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.725rem auto;
	border: none;
	background-color: #c4d8dc;
	opacity: 0.2;
}

.navbar-custom .nav-item .btn-outline-sm {
	margin-top: 0.25rem;
	margin-bottom: 1.375rem;
	margin-left: 0.5rem;
	border: 0.125rem solid #fff;
	color: #fff;
}

.navbar-custom .nav-item .btn-outline-sm:hover {
	background-color: #FFC700;
	color: black;
	border: 0.125rem solid black;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: white;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}
/* end of menu */


/*********************/
/*       header      */
/*********************/

/* whole header background settings */
.header {
    background: radial-gradient(at top left, rgba(0,600,26,10) 0%, rgba(150,100,190,1) 60%);
    background-size: 160% 160%; 
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}