body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: radial-gradient(at top left, rgba(0,600,26,10) 0%, rgba(150,100,190,1) 60%);
  background-size: 160% 160%; 
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}

a {
  text-decoration: none;
}

#link{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: .8rem;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 4px 16px;
  opacity: 25%;
  transition: opacity 1s;
  position: absolute;
  top: 94%;
}

#link:hover {
  opacity: 1;
}

.title-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container{
  display: flex;
  justify-content: space-between;
  width: 640px;
}

.title-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 5px;
  color: white;
  margin: 8px 0px 0px 0px;
  transition: opacity 500ms ease;
    
    
-webkit-text-fill-color: rgba(255, 255, 255, 0.1);;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;  
  font-family: 'indivisible', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 0px 0px 0px 0px;
  transition: opacity 500ms ease;
}

.over span {
  display: inline-block;
transition: 2s ease-in-out;

}

#text:has(.over:hover) .title-text:not(.over:hover) {
  opacity: 0.1;
}

.over:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  
  to {
    background-position: 0% center;
  }
}

.over:hover > .letter:nth-child(1) {
  transform: translate(-200%, 20%) rotate(10deg);
}

.over:hover > .letter:nth-child(2) {
  transform: translate(-80%, -40%) rotate(-16deg);
}

.over:hover > .letter:nth-child(3) {
  transform: translate(-60%, 60%) rotate(8deg);
}

.over:hover > .letter:nth-child(4) {
  transform: translate(-20%, -60%) rotate(20deg);
}

.over:hover > .letter:nth-child(5) {
  transform: translate(0%, 40%) rotate(20deg);
}

.over:hover > .letter:nth-child(6) {
  transform: translate(20%, -60%) rotate(-20deg);
}

.over:hover > .letter:nth-child(7) {
  transform: translate(-10%, 60%) rotate(16deg);
}

.over:hover > .letter:nth-child(8) {
  transform: translate(20%, -60%) rotate(20deg);
}

.over:hover > .letter:nth-child(9) {
  transform: translate(40%, 30%) rotate(-20deg);
}

.over:hover > .letter:nth-child(10) {
  transform: translate(50%, -80%) rotate(-20deg);
}

.over:hover > .letter:nth-child(11) {
  transform: translate(100%, 10%) rotate(20deg);
}

.over:hover > .letter:nth-child(12) {
  transform: translate(100%, -40%) rotate(20deg);
}

.over:hover > .letter{
  transition-duration: 2s;
}