body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: radial-gradient(at top left, rgba(0,600,26,10) 0%, rgba(150,100,190,1) 60%);
  background-size: 160% 160%; 
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0% 48%;
	}
	100% {
		background-position: 100% 100%;
	}
}


a {
  text-decoration: none;
}


.title-container{
    margin-left: 10vh;
    margin-top: 80vh;
  height: 100vh;
  width: 100%;
  display: flex;

}

.text-container{
    text-align: center;
    display: inline-block;
    width: 14vh;
}

.title-text {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;  
  font-family: 'indivisible', sans-serif;
  font-weight: bold;
  font-size: 8rem;
  margin: 0px 0px -50px 0px;
  transition: opacity 500ms ease;
}

.over span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.one span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.two span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.three span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.four span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.five span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.six span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.seven span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.eight span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}

.nine span {
    display: inline-block;
    transition: 0.5s ease-in-out;

}


.over:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.one:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.two:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.three:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.four:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.five:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.six:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.seven:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.eight:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}

.nine:hover > .letter {
  background: linear-gradient(to right, #40ffb3, #ff40fc, #40ffb3);
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 50s linear infinite;
}



@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  
  to {
    background-position: 0% center;
  }
}

.over:hover > .letter {
  transform: translate(-200%, 20%) rotate(10deg);
}

.one:hover > .letter {
  transform: translate(-80%, -40%) rotate(-16deg);
}

.two:hover > .letter {
  transform: translate(-60%, 60%) rotate(8deg);
}

.three:hover > .letter {
  transform: translate(-20%, -60%) rotate(20deg);
}

.four:hover > .letter {
  transform: translate(0%, 40%) rotate(20deg);
}

.five:hover > .letter {
  transform: translate(20%, -60%) rotate(-20deg);
}

.six:hover > .letter {
  transform: translate(-10%, 60%) rotate(16deg);
}

.seven:hover > .letter {
  transform: translate(20%, -60%) rotate(20deg);
}

.six:hover > .letter {
  transform: translate(40%, 30%) rotate(-20deg);
}

.seven:hover > .letter {
  transform: translate(50%, -80%) rotate(-20deg);
}

.eight:hover > .letter {
  transform: translate(100%, 10%) rotate(20deg);
}

.nine:hover > .letter {
  transform: translate(100%, -40%) rotate(20deg);
}



.over:hover > .letter{
  transition-duration: 1s;
}

.one:hover > .letter{
  transition-duration: 1s;
}

.three:hover > .letter{
  transition-duration: 1s;
}

.four:hover > .letter{
  transition-duration: 1s;
}

.five:hover > .letter{
  transition-duration: 1s;
}

.six:hover > .letter{
  transition-duration: 1s;
}

.seven:hover > .letter{
  transition-duration: 1s;
}

.eight:hover > .letter{
  transition-duration: 1s;
}

.nine:hover > .letter{
  transition-duration: 1s;
}